# ─── Django core ──────────────────────────────────────────────────────────────
Django==4.2.13
gunicorn==21.2.0

# ─── Base de datos ─────────────────────────────────────────────────────────────
psycopg2-binary==2.9.9

# ─── Reportes ──────────────────────────────────────────────────────────────────
WeasyPrint==60.2
pydyf==0.10.0
openpyxl==3.1.2

# ─── Seguridad (vault de contraseñas) ─────────────────────────────────────────
cryptography==42.0.8
argon2-cffi==23.1.0

# ─── Utilidades ────────────────────────────────────────────────────────────────
python-decouple==3.8
Pillow==10.3.0
django-htmx==1.17.3
django-axes==8.3.1
whitenoise==6.6.0
requests==2.32.3
